@import "tailwindcss";

/* === VARIABLES === */

:root {
  --color-darksky: #012a4a;
  --color-lightsky: #2a6f97;
  --color-primarybackground: #013a63;
  --color-secondarybackground: #a9d6e5;
  --color-tertiarybackground: #468FAF;
  --color-windowbackground: #012a4a;
  --color-primarytext: #ffffff;
  --color-secondarytext: #012a4a;
  --star-color-A: white;
  --star-color-B: transparent;
  --primary-font-family: 'Gill Sans', sans-serif;
  --secondary-font-family: 'Courier New', Courier, monospace;
  --primary-font-size: 1rem;
  --secondary-font-size: 0.875rem;
}

/* === GLOBAL SETTINGS === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  overflow: hidden;
  color: var(--color-primarytext);
  font-family: var(--primary-font-family);
}

button {
  cursor: pointer;
  font-family: var(--primary-font-family);
  background-color: var(--color-secondarybackground);
  font-size: var(--secondary-font-size);
  color: var(--color-secondarytext);
  border-radius: 5px;     
  border: 1px solid var(--color-secondarybackground); 
}

button:hover {
  background-color: var(--color-tertiarybackground);
  color: var(--color-primarytext);
}

/* === BACKGROUND SETTINGS === */

section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    var(--color-darksky),
    var(--color-lightsky)
  );
  background-position-x: center;
  background-size: cover;
  display: block;
}

/* === BASE WINDOW SETTINGS === */

.mockup-window {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 80vw; 
  max-width: 600px;
  overflow: hidden;
  background-color: var(--color-primarybackground);
  border-radius: 10px;
  border: 2px solid var(--color-secondarybackground);
}

.home {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;;
  flex-direction: column;
}

.first-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.draggable-container {
  position: absolute;
  z-index: 100;
  z-index: 110;
  width: auto; 
  overflow: hidden;
  background-color: var(--color-primarybackground);
  border-radius: 10px;
  border: 2px solid var(--color-secondarybackground);
}

#draggable-header {
  display: flex;
  cursor: move;
  position: relative;
  width: 100%;
  border: 2px solid var(--color-secondarybackground);
  background-color: var(--color-secondarybackground);
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
  color: var(--color-windowbackground);
}

.close-btn {
  height: 20px;
  width: 20px;
  border: none;
}

.close-btn:hover {
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--color-tertiarybackground);
  color: var(--color-primarytext);
}

/* === HOME BAR SETTINGS === */

.home h1 {
  font-size: 1.5rem;
  font-family: var(--primary-font-family);
  color: var(--color-windowbackground);
  color: var(--color-primarytext);
  text-align: center;
  margin-bottom: 20px;
}

.bar {
  position: relative;
  width: 100%;
  height: 2.1rem;
  border: 2px solid var(--color-secondarybackground);
  background-color: var(--color-secondarybackground);
  justify-content: space-between;
  padding-left: 10px;
  font-family: var(--primary-font-family);
  font-size: 1.1rem;
  color: var(--color-windowbackground);
}

/* === PROFILE IMAGE SETTINGS === */

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--color-tertiarybackground);
  position: relative;
  display: inline-block;
}

/* === CONTAINER SETTINGS === */

.custom-container {
  display: flex;
  flex-direction: column;     
  width: auto;                 
  box-sizing: border-box;      
  position: relative;
  border: 1px solid var(--color-tertiarybackground); 
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

/* === LOGLINE SETTINGS === */

.logline-label {
  position: absolute;
  top: -0.75rem;     
  left: 1rem;           
  background-color: var(--color-tertiarybackground);
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  font-size: var(--secondary-font-size);
  color: var(--color-secondarytext);
  border-radius: 5px;     
  border: 1px solid var(--color-tertiarybackground); 
  margin-bottom: 10px;
}

.logline {
  margin: 10px;
}

.contact {
  display: flex;
  justify-self: flex-end;
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
}

/* === CONTACT SETTINGS === */

#contact-window {
  display: none;
  top: 50%;
  left: 50%;
  width: 200px !important;
}

.social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.source {
  font-size: 0.75rem;
  color: var(--color-primarytext);
  font-style: italic;
}