@import "tailwindcss";

/* === VARIABLES === */

:root {
  /* Sky & Stars Variables */
  --color-darksky: #012a4a;
  --color-lightsky: #2a6f97;
  --star-color-A: white;
  --star-color-B: transparent;
  /* Background Variables */
  --color-primarybackground: #013a63;
  --color-secondarybackground: #a9d6e5;
  --color-tertiarybackground: #468FAF;
  --color-windowbackground: #012a4a;
  /* Text Variables */
  --color-primarytext: #ffffff;
  --color-secondarytext: #012a4a;
  --primary-font-family: 'Avenir', sans-serif;
  --secondary-font-family: 'Courier New', Courier, monospace;
  --primary-font-size: 1rem;
  --secondary-font-size: 0.875rem;
}

/* === GLOBAL SETTINGS === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  color: var(--color-primarytext);
  font-family: var(--primary-font-family);
  overflow: hidden;
}

button {
  background-color: var(--color-secondarybackground);
  border-radius: 5px;     
  border: 1px solid var(--color-secondarybackground); 
  color: var(--color-secondarytext);
  cursor: pointer;
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
}

button:hover {
  background-color: var(--color-tertiarybackground);
  color: var(--color-primarytext);
}

/* === BACKGROUND SETTINGS === */

section {
  background-image: linear-gradient(
    var(--color-darksky),
    var(--color-lightsky)
  );
  background-position-x: center;
  background-size: cover;
  display: block;
  height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

/* === BASE WINDOW SETTINGS === */

.mockup-window {
  background-color: var(--color-primarybackground);
  border-radius: 10px;
  border: 2px solid var(--color-secondarybackground);
  display: flex;
  flex-direction: column;
  left: 50%; 
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; 
  z-index: 100;
}

.first-row {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
}

.second-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 200px;
  padding: 10px;
}

.draggable-container {
  background-color: var(--color-primarybackground);
  border-radius: 10px;
  border: 2px solid var(--color-secondarybackground);
  overflow: hidden;
  position: absolute;
  width: auto; 
  z-index: 110;
}

.draggable-header {
  background-color: var(--color-secondarybackground);
  border: 2px solid var(--color-secondarybackground);
  color: var(--color-windowbackground);
  cursor: move;
  display: flex;
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  width: 100%;
}

.close-btn {
  height: 20px;
  width: 20px;
  border: none;
}

.close-btn:hover {
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--color-tertiarybackground);
  color: var(--color-primarytext);
}

/* === HOME BAR SETTINGS === */

.bar {
  position: relative;
  width: 100%;
  height: 2rem;
  border: 2px solid var(--color-secondarybackground);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--color-secondarybackground);
  justify-content: space-between;
  padding-left: 10px;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-windowbackground);
}

/* === PROFILE IMAGE SETTINGS === */

.profile {
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
  border: 2px solid var(--color-tertiarybackground);
  position: relative;
  display: inline-block;
}

/* === CONTAINER SETTINGS === */

.custom-container {
  display: flex;
  flex-direction: column;     
  box-sizing: border-box;      
  position: relative;
  border: 1px solid var(--color-tertiarybackground); 
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.label {
  position: absolute;
  top: -0.75rem;     
  left: 1rem;           
  background-color: var(--color-tertiarybackground);
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  font-size: var(--secondary-font-size);
  color: var(--color-secondarytext);
  border-radius: 5px;     
  border: 1px solid var(--color-tertiarybackground); 
  margin-bottom: 10px;
}

/* === LOGLINE SETTINGS === */

.logline {
  margin: 10px;
}

.contact {
  display: flex;
  justify-self: flex-end;
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  margin: 10px;
}

/* === CONTACT SETTINGS === */

#contact-window {
  display: none;
  top: 50%;
  left: 50%;
  width: 150px !important;
}

.social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.source {
  font-size: 0.75rem;
  color: var(--color-primarytext);
  font-style: italic;
  margin: 20px;
  justify-content: flex-end;
  display: flex;
}

/* === SAMPLES SETTINGS === */

.sample {
  margin: 10px;
  width: fit-content !important
}

.sample-icon {
  cursor: pointer;
  margin: 20px;
}

.sample-icon:hover {
  transform: scale(1.5);
}

/* === GENRES SETTINGS === */

.genre-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 10px;
}

#samples-container{
  height: auto; 
  width: fit-content !important;
}
