@import
  url(https://fonts.googleapis.com/css?family=VT323);

.sky {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
}

.lable {
  color: white;
  display: inline-block;
  text-align: center;
}

.slider {
  display: block;
}

.circle {
  position: absolute;
  background-color: var(--star-color-A);
  border-radius: 50%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 1;
}

.blink_1 {
  animation-name: blink10;
}

.blink_2 {
  animation-name: blink20;
}

.blink_3 {
  animation-name: blink30;
}

.blink_4 {
  animation-name: blink40;
}

.blink_5 {
  animation-name: blink50;
}

@keyframes blink10 {
  0%, 100% {
    background-color: var(--star-color-A);
  }
  20% {
    background-color: var(--star-color-B);
  }
}

@keyframes blink20 {
  0%, 100% {
    background-color: var(--star-color-B);
  }
  40% {
    background-color: var(--star-color-A);
  }
}

@keyframes blink50 {
  0%, 100% {
    background-color: var(--star-color-A);
  }
  50% {
    background-color: var(--star-color-B);
  }
}

@keyframes blink30 {
  0%, 100% {
    background-color: var(--star-color-A);
  }
  60% {
    background-color: var(--star-color-B);
  }
}

@keyframes blink40 {
  0%, 100% {
    background-color: var(--star-color-B);
  }
  80% {
    background-color: var(--star-color-A);
  }
}

